body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
}
.header-menu {
  display: flex;
  gap: 40px;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-span-studio {
  color: #2e2f42;
}

.container .header-logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 76px;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-menu .header-menu-item {
  position: relative;
}

.active-page {
  color: #404bbf;
}

.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 48px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.main {
  background: #2e2f42;
  padding: 188px 0;
  border: 1px solid #000;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.main-order-btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-order-btn:hover,
.main-order-btn:focus {
  background-color: #404bbf;
}

.main-text {
  padding: 120px 0;
}

.main-menu-list {
  display: flex;
  gap: 24px;
}
.main-menu-item {
  flex-basis: calc((100% - 72px) / 4);
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.main-menu-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-menu-info {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title-item {
  background: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-job-title {
  padding: 32px 0;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-job-title .contacts-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.contacts-soc-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-soc-item .link:hover {
  background-color: #404bbf;
}

.contacts-soc-item .link:focus {
  background-color: #404bbf;
}

.team-title-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-title-list {
  display: flex;
  gap: 24px;
}
.team-job-title {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.main-work {
  padding: 120px 0;
}

.main-work-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
  box-shadow: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-work-list .main-work-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-work-item:hover .cover-text {
  transform: translateY(0%);
}

.main-work-list .main-work-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-work-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main-wofk-item {
  flex-basis: calc((100% - 48px) / 3);
}

.work-name-type {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.work-img {
  position: relative;
  overflow: hidden;
  content: "14 Stylish and User-Friendly App Design Concepts 路 Task Manager App 路 Calorie Tracker App 路 Exotic Fruit Ecommerce App 路 Cloud Storage App";
}

.cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD, #f4f4fd);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-work-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-work-type {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform;
}

.main-work-type:hover {
  transform: translateY(0%);
}

.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-contacts-soc {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-span-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.name-contacts-soc {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-contacts-list {
  display: flex;
  gap: 16px;
}
.footer-contacts-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-list .link:hover,
.footer-contacts-list .link:focus,
.footer-contacts-list .link:active {
  background-color: #31d0aa;
}
